<footer class="px-4 py-2 mt-4 bg-slate-900 text-white">
  <p class="text-center w-full">
    Made with <i class="text-red-300 ri-heart-3-line"></i> by <span
      >Alonso Martínez</span
    >
  </p>
</footer>
